body {
    font-size: 2.2em; 
    text-rendering: optimizeLegibility;
}

html {
    font-variant-numeric: oldstyle-nums;
    -moz-font-feature-settings: 'onum=1';
    -ms-font-feature-settings: 'onum';
    -o-font-feature-settings: 'onum';
    -webkit-font-feature-settings: 'onum';
    font-feature-settings: 'onum';
}

ul.posts {
    padding: 0;
}

p, ul, ol {
    font-family: "garamond-premier-pro-display-1","garamond-premier-pro-display-2";
    font-weight: 100;
}

.heading {
    font-family: "museo-sans-1","museo-sans-2", "Helvetica Neue";
    font-weight: 100;
    font-size: .75em;
    margin-top: 20px;
}

.bold {
    font-weight: 700;
    color: #444;
}

.light {
    font-weight: 100;
}

h1 {
    font-family: "museo-sans-1","museo-sans-2", "Helvetica Neue";
    padding-top: 0em;
    padding-bottom: 0em;
    position: relative;
    left: -20px;
    font-weight: 300;
    text-transform: uppercase;
}

h2, h3, h4 {
    font-family: "museo-sans-1","museo-sans-2", "Helvetica Neue";
    font-weight: 700;
    position: relative;
    left: -1em;
    text-transform: uppercase;
    font-size: 1.05em;
}

iframe {
    border: none;
    margin: 0;
    padding: .5em;
}

ul.posts {
    list-style-type: none;
}

a {
    color: #c07040;
}

.sidebar {
    position: absolute;
    right: -250px;
}

.sidebar-large {
    position: absolute;
    right: -370px;
}
