---
layout: bootstrap_main
title: Carlos Scheidegger
---
<style>
h1, h2 {
left: 0px;
}
table th, table td {
  padding: inherit;
  border: none;
}
</style>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <h1 style="margin-bottom:0"><span class="bold">VISUALIZATION</span>, ETC.</h1>
    <h1 style="margin-top:0;
    font-size:.6em"><a href="https://medium.com/nightingale/the-day-i-thought-i-misled-the-president-of-the-united-states-a-comedic-visualization-tale-5614eeed6d5c" style="text-decoration: none; color: #000">if anything on this blog causes confusion, ignore the entire product</a></h1>
  </div>
</div>

<div class="row" style="font-size:0.9em">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h2 class="bold"><a name="blog"></a>BLOG</h2>
    <ul class="posts">
      <table>
      {% for post in site.posts %}
        {% if post.tags contains 'paper' %}
        {% else %}
      <tr valign="top">
	<td valign="top" align="right" style="white-space: nowrap">
	  <span class="hidden-md hidden-lg">⬝&nbsp;</span><span class="visible-md-block visible-md-inline visible-lg-block visible-lg-inline">{{ post.date | date: "%Y-%m-%d" }}</span><span style="padding-right:.5em"/>
	</td>
	<td valign="top"> <a href="{{ post.url }}">{{ post.title }}</a></td>
      </tr>
        {% endif %}
      {% endfor %}
      </table>
    </ul>
  </div>
  <div class="col-md-7 flush-right"></div>
</div>

