---
layout: bootstrap_main
title: Carlos Scheidegger
---
<style>
h1, h2 {
left: 0px;
}
table th, table td {
  padding: inherit;
  border: none;
}
</style>

<div class="row">
    <h1><span class="light">CARLOS</span> <span class="bold">SCHEIDEGGER</span> <span style="float:right;
    font-size:0.5em; font-weight: 300; margin-top:5px; margin-right:15px" class="tk-museo-sans"><a href="courses/">COURSES</a> <a href="#code">CODE</a>
    <a href="#projects">VIS</a> <a href="/writing/">WRITING</a> <a href="#papers">PAPERS</a> <a href="#about">ABOUT</a> <a href="cv.pdf">CV</a></span></h1>
</div>
<div class="row">
  <div class="visible-md visible-lg col-md-2" style="font-size:0.7em">
    <img width="100%" style="margin-top:5px" src="/cscheid.jpg">
    <p style="margin:0"><a href="http://cscheid.net/cv.pdf">CV</a>,
    <a href="http://scholar.google.com/citations?user=8uHMJjsAAAAJ&hl=en">scholar</a>,
    <a href="mailto:cscheid@cscheid.net">email</a>, <a href="http://twitter.com/scheidegger">twitter</a>,
    <a href="http://instagram.com/cscheid">instagram</a>, <a href="http://www.flickr.com/photos/cscheid">flickr</a>,
    <a href="http://google.com/+CarlosScheidegger">g+</a>, <a href="http://www.facebook.com/carlos.scheidegger">facebook</a></p>
  </div>
  <div class="col-md-10">
    <p>I'm an assistant professor in the <a href="http://www.cs.arizona.edu">Department of Computer
	Science</a> at the University of Arizona. I work in large-scale data visualization and
      exploratory data analysis. Before coming to <a href="https://www.flickr.com/photos/cscheid/16014561642/in/dateposted-public/">sunny</a>, <a href="https://twitter.com/scheidegger/status/655907096991371264">beautiful</a> <a href="https://www.flickr.com/photos/cscheid/16015254715/in/dateposted-public/">Tucson</a>, I worked at
      <a href="http://www.research.att.com/">AT&amp;T Research</a> in New York.
    </p>
    <p>Interactive visualization is crucial in understanding, exploring, and presenting data, but data scale can present serious barriers for effectiveness and adoption. I study these barriers and design solutions to remove them. My work ranges from <a href="http://www.algebraicvis.net">theoretical</a> to <a href="http://nanocubes.net">practical</a>; from designing solutions specifically for particular domains to designing general <a href="http://github.com/cscheid/lux">infrastructure</a> for large-scale visualization.</p>
    <p>Since joining UA, I have worked in a number of projects here, including support for interactive browsing of synteny data at <a href="https://genomevolution.org/coge/">CoGe</a>, and building up interactive visualization infrastructure at <a href="http://www.noao.edu/">NOAO</a> and the <a href="http://www.cs.arizona.edu/projects/tau/antares/">ANTARES</a> project. If you're interested in our work, you should also take a look at the webpage of the <a href="http://hdc.cs.arizona.edu">HDC Lab</a> of which I'm a part of.</p>
    <p>(I'm trying something different for <a href="/writing/">writing</a>, instead of a blog.)</p>
  </div>
</div>
<div class="row" style="margin-top:.5em">
  <div class="col-md-6">
    <h4 class="bold"><a name="code"></a>CODE</h2>
    <ul class="posts">
      <li><a href="http://github.com/laurolins/nanocube">Nanocubes</a>: blazing fast
      large data visualization.</li>
      <li><a href="http://cscheid.github.io/lux">Lux</a>:
      write WebGL shaders in Javascript, composably.</li>
      <li><a href="http://github.com/att/rcloud">RCloud</a>:
      collaborative data analysis, on the web.</li>
      <li><a href="http://www.vistrails.org">VisTrails</a>:
      a provenance-aware scientific workflow system.</li>
      <li><a href="http://github.com/nivan/vfkm">Vector-field k-means</a>:
      scalable trajectory clustering.</li>
      <li><a href="http://afront.sourceforge.net">Afront</a>:
      high-quality triangle meshing of surfaces.</li>
    </ul>
</div>
  <div class="col-md-6 flush-right">
    <h4 class="bold"><a name="projects"></a>VIS PROJECTS</h2>
    <ul class="posts">
      <li>Interact with <a href="http://nanocubes.net/view.html#twitter">200 million
      data points</a>. In your browser.</li>
      <li>Plotting <a href="http://cscheid.github.io/nfl-plays">ten years of NFL plays</a>.</li>
      <li>Visualizing the MLB Hall of
      Fame induction <a href="http://cscheid.net/static/mlb-hall-of-fame-voting/">voting</a> dynamics.</li>
      <li>5h of footage from a <a href="http://cscheid.net/static/windowseat">Window Seat</a>
      into one image.</li>
      <li>The <a href="http://cscheid.github.io/lux/demos/beauty_of_roots/beauty_of_roots.html">Beauty of Roots</a>.</li>
      <li>An <a href="http://www.sci.utah.edu/~cscheid/blog/20080420/f4.svg">interactive
	  nomograph</a> for Bayes' rule</a>
	  (<a href="/blog/2010/12/07/repost-looking-at-conditional-probability.html">explanation</a>).</li>
      <li>A <a href="/projects/">longer list</a>, not necessarily in any order.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <h4 class="bold"><a name="blog"></a>BLOG</h2>
    <ul class="posts">
      <table>
      {% for post in site.posts %}
        {% if post.tags contains 'paper' %}
        {% else %}
      <tr valign="top">
	<td valign="top" align="right" style="white-space: nowrap">
	  <span class="hidden-md hidden-lg">⬝&nbsp;</span><span class="visible-md-block visible-md-inline visible-lg-block visible-lg-inline">{{ post.date | date: "%-d" }}</span><span style="padding-right:.1em"/>
	</td>
	<td valign="top" align="right" style="white-space: nowrap; text-transform: lowercase">
	  <span class="hidden-md hidden-lg">⬝&nbsp;</span><span class="visible-md-block visible-md-inline visible-lg-block visible-lg-inline">{{ post.date | date: "%b" }}</span><span style="padding-right:.1em"/>
	</td>
	<td valign="top" align="right" style="white-space: nowrap">
	  <span class="hidden-md hidden-lg">⬝&nbsp;</span><span class="visible-md-block visible-md-inline visible-lg-block visible-lg-inline">{{ post.date | date: "%Y" }}</span><span style="padding-right:.5em"/>
	</td>
	<td valign="top"> <a href="{{ post.url }}">{{ post.title }}</a></td>
      </tr>
        {% endif %}
      {% endfor %}
      </table>
    </ul>

  </div>
  <div class="col-md-7 flush-right">
    </ul>
    <h4 class="bold"><a name="papers"></a>PAPERS</h2>
    <ul class="posts">
      <table>
      {% for post in site.posts %}
        {% if post.tags contains 'paper' %}
      <tr valign="top">
	<td valign="top"> <a href="{{ post.url }}">{{ post.title }}</a></td>
	<td valign="top" align="left" style="white-space: nowrap">
	  <span style="padding-right:.5em"></span>
	  <span class="hidden-md hidden-lg">⬝&nbsp;</span><span class="visible-md-block visible-md-inline visible-lg-block visible-lg-inline">{{ post.date | date: "%-d" }}</span>
	</td>
	<td valign="top" align="left" style="white-space: nowrap; text-transform: lowercase">
	  <span style="padding-right:.1em"></span>
	  <span class="hidden-md hidden-lg">⬝&nbsp;</span><span class="visible-md-block visible-md-inline visible-lg-block visible-lg-inline">{{ post.date | date: "%b" }}</span>
	</td>
	<td valign="top" align="left" style="white-space: nowrap">
	  <span style="padding-right:.1em"></span>
	  <span class="hidden-md hidden-lg">⬝&nbsp;</span><span class="visible-md-block visible-md-inline visible-lg-block visible-lg-inline">{{ post.date | date: "%Y" }}</span>
	</td>
      </tr>
      <!-- <li><a href="{{ post.url }}">{{ post.title }}</a> &laquo; <span>{{ post.date | date_to_string }}</span></li> -->
        {% endif %}
      {% endfor %}
      </table>
    </ul>
  </div>
</div>
<script src="js/mobile-detect.js"></script>
<script src="index.js"></script>
