---
layout: bootstrap_main
title: Carlos Scheidegger
---
<style>
h1, h2 {
left: 0px;
}
table th, table td {
  padding: inherit;
  border: none;
}
</style>

<div class="row">
    <h1><span class="light">CARLOS</span> <span class="bold">SCHEIDEGGER</span> <span style="float:right;
    font-size:0.5em; font-weight: 300; margin-top:5px; margin-right:15px"><a href="blog.html">BLOG</a> <a href="courses/">COURSES</a> <a href="talks/">TALKS</a> <a href="#code">CODE</a>
    <a href="#projects">VIS</a> <a href="/writing/">WRITING</a> <a href="#papers">PAPERS</a> <a href="#about">ABOUT</a> <a href="cv.pdf">CV</a></span></h1>
</div>
<div class="row">
  <div class="visible-md visible-lg col-md-2" style="font-size:0.7em">
    <img width="100%" style="margin-top:5px" src="/cscheid.jpg">
    <p style="margin:0"><a href="http://cscheid.net/cv.pdf">CV</a>,
    <a href="http://scholar.google.com/citations?user=8uHMJjsAAAAJ&hl=en">scholar</a>,
    <a href="mailto:cscheid@cscheid.net">email</a>, <a href="http://twitter.com/scheidegger">twitter</a>,
    <a href="http://instagram.com/cscheid">instagram</a>, <a href="http://www.flickr.com/photos/cscheid">flickr</a>,
    <a href="http://www.facebook.com/carlos.scheidegger">facebook</a></p>
  </div>
  <div class="col-md-10">
    <p>I'm an associate professor in the <a href="http://www.cs.arizona.edu">Department of Computer
	Science</a> at the University of Arizona. I work in large-scale data visualization and
      data analysis. Before coming to <a href="https://www.flickr.com/photos/cscheid/16014561642/in/dateposted-public/">sunny</a>, <a href="https://twitter.com/scheidegger/status/655907096991371264">beautiful</a> <a href="https://www.flickr.com/photos/cscheid/16015254715/in/dateposted-public/">Tucson</a>, I worked at
      <a href="http://www.research.att.com/">AT&amp;T Research</a> in New York.
    </p>
    <p>Interactive visualization is crucial in understanding, exploring, and presenting data, but data scale can present serious barriers for effectiveness and adoption. I study these barriers and design solutions to remove them. My work ranges from <a href="http://www.algebraicvis.net">theoretical</a> to <a href="http://nanocubes.net">practical</a>; from designing solutions specifically for particular domains to designing general <a href="http://github.com/cscheid/lux">infrastructure</a> for large-scale visualization.</p>
    <p>Since joining UA, I have worked in a number of projects here, including support for interactive browsing of synteny data at <a href="https://genomevolution.org/coge/">CoGe</a>, and building up interactive visualization infrastructure for the <a href="https://antares.noirlab.edu/">ANTARES</a> project. If you're interested in our work, you should also take a look at the webpage of the <a href="http://hdc.cs.arizona.edu">HDC Lab</a> which I cofounded with my colleagues, <a href="https://jalevine.bitbucket.io/">Josh Levine</a> and <a href="http://hdc.cs.arizona.edu/~kisaacs/">Kate Isaacs</a>.</p>
    <p>(I'm trying something different for <a href="/writing/">writing</a>, instead of a blog.)</p>
  </div>
</div>
<div class="row" style="margin-top:.5em">
  <div class="col-md-12">
    <h4 class="bold"><a name="projects"></a>FUNDED PROJECTS</h4>
    <p>My work is funded by a number of institutions, including the NSF, AT&amp;T, and the Arizona Board of Regents.</p>
    <ul class="posts">
      <li>NSF <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1815238">III-1815238</a>: <a href="http://hdc.cs.arizona.edu/projects/end-to-end-visual-big-data/">An End-to-End Pipeline for Interactive Visual Analysis of Big Data</a></li>
      <li>NSF <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1513651">III-1513651</a>: <a href="http://www.sci.utah.edu/~beiwang/networktdav/networktdav.html">Topological Data Analysis for Large Network Visualization</a></li>
    </ul>

    <h4 class="bold"><a name="projects"></a>STUDENTS</h4>
    <ul class="posts">
      <li>MSc student: Katherine Best</li>
      <li>PhD student: Rebecca Faust (expected 2021)</li>
      <li>PhD student: Mingwei Li (expected 2021)</li>
      <li>PhD student: Zhenge Zhao (expected 2021)</li>
      <li>Zhe Wang, PhD, July 2019, now research scientist at ASML</li>
    </ul>
    
    <h4 class="bold"><a name="travel"></a>TRAVEL</h4>
    <table>
      <tr><td class="table-figure">2019-11: </td><td>Germany: ML + Vis Dagstuhl</td></tr>
      <tr><td class="table-figure">2019-10: </td><td>Vancouver: IEEE VIS</td></tr>
      <tr><td class="table-figure">2019-07: </td><td>Redmond: MSR Faculty Summit</td></tr>
      <tr><td class="table-figure">2019-06: </td><td>Nashville: Vis EC Summer Camp</td></tr>
      <tr><td class="table-figure">2019-05: </td><td>Calgary: SDM 2019</td></tr>
      <tr><td class="table-figure">2019-04: </td><td>Yale: Biostats seminar</td></tr>
      <tr><td class="table-figure">2019-03: </td><td>NYC: <a href="talks/tandon-march-2019/">NYU Tandon</a></td></tr>
      <tr><td class="table-figure">2019-01: </td><td>Atlanta: <a href="https://www.fatconference.org/2019/index.html">ACM FAT* 2019</a></td></tr>
      <tr><td class="table-figure">2019-01: </td><td>Houston: <a href="https://www.rstudio.com/conference/">rstudio::conf</a></td></tr>
    </table>

    <h4 class="bold"><a name="code"></a>CODE</h4>
    <ul class="posts">
      <li><a href="http://github.com/laurolins/nanocube">Nanocubes</a>: blazing fast
      large data visualization.</li>
      <li><a href="http://cscheid.github.io/lux">Lux</a>:
      write WebGL shaders in Javascript, composably.</li>
      <li><a href="http://github.com/att/rcloud">RCloud</a>:
      collaborative data analysis, on the web.</li>
      <li><a href="http://www.vistrails.org">VisTrails</a>:
      a provenance-aware scientific workflow system.</li>
      <li><a href="http://github.com/nivan/vfkm">Vector-field k-means</a>:
      scalable trajectory clustering.</li>
      <li><a href="http://afront.sourceforge.net">Afront</a>:
      high-quality triangle meshing of surfaces.</li>
    </ul>
<!-- </div> -->
<!--   <div class="col-md-6 flush-right"> -->
    <h4 class="bold"><a name="projects"></a>SOME STUFF I MADE</h2>
    <ul class="posts">
      <li>Slice and dice <a href="http://nanocubes.net/view.html#brightkite">200 million data points</a>. In your browser.</li>
      <li>Plotting <a href="http://cscheid.github.io/nfl-plays">ten years of NFL plays</a>.</li>
      <li>Visualizing the MLB Hall of Fame induction <a href="http://cscheid.net/static/mlb-hall-of-fame-voting/">voting dynamics</a>.</li>
      <li>5h of footage from a <a href="http://cscheid.net/static/windowseat">Window Seat</a> into one image.</li>
      <li>The <a href="http://cscheid.github.io/lux/demos/beauty_of_roots/beauty_of_roots.html">Beauty of Roots</a>.</li>
      <li>Some <a href="/projects/optical_illusions/">optical illusions</a>, animated with JS and d3.</li>
      <li>An illustration of the <a href="/writing/data_science/duality.html">duality principle</a> in convex optimization.</li>
      <li>Making sense of symmetric 2x2 matrices <a href="https://cscheid.net/courses/fal16/cs444/lectures/lecture15/eigenvectors.html">through their eigendecomposition</a>.</li>
      <li>An illustration of the <a href="https://cscheid.net/projects/bunimovich_stadium/">Bunimovich stadium</a>.</li>
      <li>An interactive version of the <a href="https://cscheid.net/projects/fagan_nomogram/">Fagan nomogram</a>.</li>
      <li>An <a href="http://www.sci.utah.edu/~cscheid/blog/20080420/f4.svg">interactive nomograph</a> for Bayes' rule (<a href="/blog/2010/12/07/repost-looking-at-conditional-probability.html">explanation</a>).</li>
      <li>(The <a href="/projects/">full list</a> of visualizations, not necessarily in any order).</li>
    </ul>
  <!-- </div> -->
<!-- </div> -->
<!-- <div class="row"> -->
  <!-- <div class="col-md-6 flush-right"> -->
    <h4 class="bold"><a name="papers"></a>PAPERS</h2>
    <ul class="posts">
      <table>
      {% for post in site.posts %}
        {% if post.tags contains 'paper' %}
      <tr valign="top">
	<td valign="top" align="left" style="white-space: nowrap">
	  <span style="padding-right:.5em"></span>
	  <span class="hidden-md hidden-lg">⬝&nbsp;</span><span class="visible-md-block visible-md-inline visible-lg-block visible-lg-inline table-figure">{{ post.date | date: "%Y-%m-%d" }}</span>
	</td>
	<td style="padding-left:1em; padding-right:1em" align="right" valign="top"> {{ post.venue }} </td>
	<td valign="top"> <a href="{{ post.url }}">{{ post.title }}</a></td>
      </tr>
      <!-- <li><a href="{{ post.url }}">{{ post.title }}</a> &laquo; <span>{{ post.date | date_to_string }}</span></li> -->
        {% endif %}
      {% endfor %}
      </table>
    </ul>
  </div>
  <!-- <div class="col-md-5 col-md-pull-7"> -->
  <!--   <h4 class="bold"><a name="blog"></a>BLOG</h2> -->
  <!--   <ul class="posts"> -->
  <!--     <table> -->
  <!--     {% for post in site.posts %} -->
  <!--       {% if post.tags contains 'paper' %} -->
  <!--       {% else %} -->
  <!--     <tr valign="top"> -->
  <!-- 	<td valign="top" align="right" style="white-space: nowrap"> -->
  <!-- 	  <span class="hidden-md hidden-lg">⬝&nbsp;</span><span class="visible-md-block visible-md-inline visible-lg-block visible-lg-inline">{{ post.date | date: "%-d" }}</span><span style="padding-right:.1em"/> -->
  <!-- 	</td> -->
  <!-- 	<td valign="top" align="right" style="white-space: nowrap; text-transform: lowercase"> -->
  <!-- 	  <span class="visible-md-block visible-md-inline visible-lg-block visible-lg-inline">{{ post.date | date: "%b" }}</span><span style="padding-right:.1em"/> -->
  <!-- 	</td> -->
  <!-- 	<td valign="top" align="right" style="white-space: nowrap"> -->
  <!-- 	  <span class="visible-md-block visible-md-inline visible-lg-block visible-lg-inline">{{ post.date | date: "%Y" }}</span><span style="padding-right:.5em"/> -->
  <!-- 	</td> -->
  <!-- 	<td valign="top"> <a href="{{ post.url }}">{{ post.title }}</a></td> -->
  <!--     </tr> -->
  <!--       {% endif %} -->
  <!--     {% endfor %} -->
  <!--     </table> -->
  <!--   </ul> -->
  <!-- </div> -->
</div>
<script src="/js/mobile-detect.js"></script>
<script src="/js/iphone-hack.js"></script>
