    <div class="container">
      <div class="col-md-12" id="footer">
	<span style="float: right">
	  <a href="/">about</a> |
	  <a href="/license.html">license</a> |
	  <a href="" id="pull-request">suggest a fix</a> |
	  <a href="/gdpr.html">GDPR</a> |
	  Last modified: {{ page.last_modified_at | date: "%Y-%m-%d %H:%M" }}
	</span>
	<div style="clear: both"></div>
	<div>&nbsp;</div>
      </div>
    </div>
    <script src="/js/footer.js"></script>
    <script src="/js/mobile-detect.js"></script>
    <script src="/js/iphone-hack.js"></script>
