@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

line .axis {
  stroke: white;
}

g.tick text {
  font-size: 3vh;
  font-family: "Lato", sans-serif;
}

g text.annotations {
  font-family: "Lato", sans-serif;
  fill: white;
  font-size: 3vh;
};

