<!-- This layout assumes:

 - the existence of a main.js script file in the same directory as the file using the layout
 - the existence of a main.css CSS file in the same directory as the file using the layout

 -->
<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="main.css"/>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    {% if page.debug %}
    <script type="text/javascript" src="/js/d3.v4.js"></script>
    {% else %}
    <script type="text/javascript" src="/js/d3.v4.min.js"></script>
    {% endif %}
    <script type="module" src="/js/cscheid/cscheid.js"></script>
    
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: ["tex2jax.js", "TeX/AMSmath.js", "TeX/AMSsymbols.js"],
        jax: ["input/TeX","output/HTML-CSS"],
        tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]], 
                  processEscapes: true},
        'HTML-CSS': { availableFonts: [], webFont: 'TeX' }});
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
 </head>
  <body>
    <div class="container">
      <div class="col-md-1"></div>
      <div class="col-md-10">
	{{ content }}
      </div>
    </div>
    <hr/>
    {% include footer.html %}
    <script type="module" src="main.js"></script>
  </body>
</html>
