<!-- This layout assumes:

 - the existence of a {{ page.name }}.js script file in the same directory as the file using the layout
 - the existence of a {{ page.name }}.css CSS file in the same directory as the file using the layout

 - the existence of a common.js script file in the same directory as the file using the layout
 - the existence of a common.css CSS file in the same directory as the file using the layout

 -->
<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="common.css"/>
    <link rel="stylesheet" href="{{ page.name | remove: '.md' }}.css"/>
    <link rel="alternate" type="application/rss+xml" title="RSS"
      href="/feed.xml">
    <link href="//fonts.googleapis.com/css?family=Oxygen+Mono%7cOxygen:400,300,700"
	  rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="//use.typekit.net/xxt2bxs.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="//d3js.org/d3.v4.min.js"></script>
{% bundle %}
- /js/cscheid/cscheid.js
- /js/cscheid/debug.js
- /js/cscheid/math.js
- /js/cscheid/geometry.js
- /js/cscheid/svg.js
{% endbundle %}
    
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: ["tex2jax.js", "TeX/AMSmath.js", "TeX/AMSsymbols.js"],
        jax: ["input/TeX","output/HTML-CSS"],
        tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]], 
                  processEscapes: true},
        'HTML-CSS': { availableFonts: [], webFont: 'TeX' }});
    </script>
    <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
 </head>
  <body>
    <div class="container">
      <div class="col-md-1"></div>
      <div class="col-md-10">
	{{ content }}
      </div>
    </div>
    <hr/>
    <div class="container">
      <div class="col-md-1"></div>
      <div class="col-md-10" id="footer">
	<span style="float: right">
	  <a href="/">about</a> |
	  <a href="/license.html">license</a> |
	  <a href="" id="pull-request">suggest a fix</a>
	</span>
	<div style="clear: both"></div>
	<div>&nbsp;</div>
      </div>
    </div>
    <script src="/js/footer.js"></script>
    <script src="common.js"></script>
    <script src="{{ page.name | remove: '.md' }}.js"></script>
  </body>
</html>
