---
layout: bootstrap
---
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <h1 style="margin-bottom:0"><span class="bold">VISUALIZATION</span>, ETC.</h1>
    <h1 style="margin-top:0;
    font-size:.6em"><a href="http://books.google.com/books?id=j42RD66g72oC&pg=PT226&lpg=PT226&dq=a+half-assedly+thought-out+semi+pictorial+vision+thing&source=bl&ots=fCsf7ZBQ-g&sig=tuWpoqrg5Q215C7yTuLRh1ie_ZA&hl=en&sa=X&ei=cESUUu_FFYLgsATShoC4Cg&ved=0CEcQ6AEwBA#v=onepage&q=a%20half-assedly%20thought-out%20semi%20pictorial%20vision%20thing&f=false"
    style="text-decoration:none; color:black">A HALF-ASSEDLY THOUGHT
    OUT PICTORIAL SEMI-VISION THING</a> at <a href="/">cscheid.net</a></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1 class="bold" style="font-size:1.2em">{{ page.title }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-7">
    <p class="meta"><a href="http://cscheid.net">cscheid</a>, {{ page.date | date_to_string }}</p>
    {{ content }}
  </div>
</div>
