<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="alternate" type="application/rss+xml" title="RSS"
      href="/feed.xml">
    {% include header_contents.html %}
 </head>
  <body>
    <div class="container">
      <div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-11">
	  <h1 style="margin-bottom:0"><span class="bold">VISUALIZATION</span>, ETC.</h1>
	  <h1 style="margin-top:0;
		     font-size:.6em"><a href="https://books.google.com/books?id=LYEFPnMxXQUC&pg=PA244&dq=a+half-assedly+thought-out+semi+pictorial+vision+thing&hl=en&sa=X&ved=0CB4Q6AEwAGoVChMI4OnY6JLmxwIVA6KICh2ajgOE#v=onepage&q=a%20half-assedly%20thought-out%20semi%20pictorial%20vision%20thing&f=false" style="text-decoration:none; color:black">A HALF-ASSEDLY THOUGHT
	      OUT PICTORIAL SEMI-VISION THING</a> at <a href="/">cscheid.net</a></h1>
	</div>
      </div>
      <div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
	  <span class="meta" style="float:right; margin-top:20px"><a href="http://cscheid.net">cscheid</a>, {{ page.date | date_to_string }}</span>
	  <h1 class="bold" style="font-size:1.2em">{{ page.title }}</h1>
	</div>
      </div>
      <div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10 post-content">
	  {{ content }}
	</div>
      </div>
      </div>
    </div>
    <hr/>
    {% include footer.html %}
  </body>
</html>



