<html>
  <head>
    <link rel="stylesheet" href="/lib/reveal/reveal.js-3.7.0/css/reveal.css">
    <link rel="stylesheet" href="/lib/reveal/css/cscheid.css">
    <link rel="stylesheet" href="/lib/reveal/css/style.css">
    <script src="/lib/reveal/js/head.min.js"></script>
    <script src="/lib/reveal/js/reveal_fixes.js"></script>
    <script src="/js/d3.v5.js"></script>
    <script src="/js/lodash.min.js"></script>
    <title>{{ post.title }}</title>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
	{{ content }}
      </div>
    </div>
    <script src="/lib/reveal/reveal.js-3.7.0/js/reveal.js"></script>
    <script src="/lib/reveal/js/reveal-main.js"></script>
  </body>
</html>
