<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="alternate" type="application/rss+xml" title="RSS"
      href="/feed.xml">
    <link href="//fonts.googleapis.com/css?family=Oxygen+Mono%7cOxygen:400,300,700"
	  rel="stylesheet" type="text/css"/>
    {% include header_contents.html %}
  </head>
  <body>
    <div class="container">
      <div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
	  <h1 class="bold" style="font-size:1.5em">{{ page.title }}</h1>
	</div>
      </div>
      <div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-8">
	  {{ content }}
	</div>
	<div class="col-md-3 my-sidebar" id="right-column">
	  <ul class="nav nav-sidebar" id="sidebar">
	    <li>
	  </ul>
	  <ol id="footnotes-ol-sidebar" style="font-weight: 300">
	  </ol>
	</div>
      </div>
    </div>
    <hr>
    {% include footer.html %}
    <script>
      function elideWords(txt, count) {
          txt = txt.split(" ");
          if (txt.length > count) {
              txt = txt.slice(0, count);
              txt.push("...");
          }
          return txt.join(" ");
      }
      $(document).ready(function() {
        d3.selectAll("div.container > h1,h2,h3")
          .each(function() {
              console.log(this);
      d3.select("#sidebar")
      .append("li")
      .append(this.nodeName.toLowerCase())
      .attr("class", "my-sidebar")
      .append("a")
      .attr("href", "#" + this.id)
      .text(elideWords(this.textContent, 3));
          });
      });
    </script>
  </body>
</html>
